body {
  margin-bottom: 40px;
  background: #faf8ef;
  color: #776e65;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.title {
  text-align: center;
  line-height: 1;
  font-size: 4rem;
}

.container {
  width: 555px;
  margin: 0 auto;
}

#board {
  padding: 5px;
  background: #bbada0;
  border-radius: 6px;
  width: 485px;
  height: 485px;
}

.row {
  margin-bottom: 5px;
}

.row:after {
  content: "";
  display: block;
  clear: both;
}

.row:last-child {
  margin-bottom: 0;
}

.cell {
  width: 65px;
  height: 65px;
  margin-right: 5px;
  float: left;
  border-radius: 3px;
  background: rgba(238, 228, 218, 0.35);
}

.cell:last-child {
  margin-right: 0;
}

.cell.peg {
  cursor: default;
  text-align: center;
  font-size: 20px;
  line-height: 65px;
  background: #eee4da;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.cell.peg.appear {
  -webkit-animation: appear 200ms ease 100ms;
  -moz-animation: appear 200ms ease 100ms;
  animation: appear 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.cell.peg.active,
.cell.peg.active:hover {
  color: #fff;
  background: #f2b179;
}

.cell.peg:hover {
  background: #ede0c8;
}

.hidden {
  visibility: hidden;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
